    @import url('https://fonts.googleapis.com/css?family=Comfortaa|Kristi|Poppins&display=swap');
    *,
    body {
        margin: 0 auto;
        padding: 0;
    }
    
    h1 {
        font-family: 'Comfortaa';
        font-style: bold;
        font-size: 80px;
        color: #FFFFFF;
        text-shadow: 3px 5px 2px #474747;
    }
    
    h3,
    h2 {
        font-family: 'Poppins';
        color: #333333;
        text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
    }
    
    .text-center {
        padding-bottom: 50px;
    }
    /**  --- Start of the Header --- **/
    
    .headshot {
        border-radius: 50%;
        padding-bottom: 25px;
    }
    
    .masthead {
        min-height: 30rem;
        position: relative;
        display: table;
        width: 100%;
        height: auto;
        padding-bottom: 8rem;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../assets/masthead-logo.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .masthead h1 {
        font-size: 4rem;
        margin: 0;
        padding: 0;
    }
    
    @media (min-width: 992px) {
        .masthead {
            height: 100vh;
        }
        .masthead h1 {
            font-size: 5.5rem;
        }
    }
    /**  --- Start of the Navbar --- **/
    
    nav {
        float: left;
        width: 100%;
    }
    
    nav ul {
        background-color: rgba(181, 217, 247, 0.582);
        list-style-type: none;
        padding-right: 2px;
        width: 0 auto;
    }
    
    nav ul li {
        color: black;
        display: inline-block;
        font-size: 110%;
        font-style: bold;
        padding: 10px;
    }
    
    nav ul li a {
        color: #272424;
        text-decoration: none;
    }
    
    nav ul li a:hover {
        color: rgb(144, 21, 10);
        text-decoration: none;
    }
    
    .current {
        color: #1b03a1;
    }
    /** --- Start of the Biograpghy -- **/
    
    .biography {
        display: flex;
        float: left;
        width: 100%;
        padding: 50px 10px;
        text-align: center;
    }
    
    .biography div {
        border: solid 1px darkgray;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        ;
        padding: 5px;
        margin: 10px;
    }
    
    .biography p {
        font-size: 100%;
        padding-left: 15px;
    }
    /** --- Start of the Services -- **/
    
    .service {
        height: 35rem;
        text-align: center;
        padding: 50px 0;
        background: #340182;
        background: -moz-linear-gradient(-45deg, #340182 0%, #6943A4 5%, #FFFFFF 100%);
        background: -webkit-linear-gradient(-45deg, #340182 0%, #6943A4 5%, #FFFFFF 100%);
        background: linear-gradient(135deg, #340182 0%, #6943A4 5%, #FFFFFF 100%);
    }
    
    .service-icons {
        max-width: 2000px;
        display: flex;
        padding-top: 50px;
    }
    
    .service ul {
        display: flex;
    }
    
    .service ul li {
        text-decoration: none;
    }
    
    .one-eight i {
        font-size: 500%;
        padding: 13% 0 4% 0;
    }
    /* --- Start of the Recent Projects ---*/
    
    .portfolio-item {
        display: block;
        position: relative;
        overflow: hidden;
        max-width: 530px;
        margin: auto auto 1rem;
    }
    
    .portfolio-item .caption {
        display: flex;
        height: 100%;
        width: 100%;
        background-color: rgba(33, 37, 41, 0.2);
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
    
    .portfolio-item .caption .caption-content {
        color: #fff;
        margin: auto 2rem 2rem;
    }
    
    .portfolio-item .caption .caption-content h2 {
        font-size: 0.8rem;
        text-transform: uppercase;
    }
    
    .portfolio-item .caption .caption-content p {
        font-weight: 300;
        font-size: 1.2rem;
    }
    
    #portfolio {
        padding-bottom: 50px;
    }
    
    @media (min-width: 992px) {
        .portfolio-item {
            max-width: none;
            margin: 0;
        }
        .portfolio-item .caption {
            -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
            -webkit-clip-path: inset(0px);
            clip-path: inset(0px);
        }
        .portfolio-item .caption .caption-content {
            transition: opacity 0.25s;
            margin-left: 5rem;
            margin-right: 5rem;
            margin-bottom: 5rem;
        }
        .portfolio-item img {
            -webkit-transition: -webkit-clip-path 0.25s ease-out;
            -webkit-clip-path: inset(-1px);
            clip-path: inset(-1px);
        }
        .portfolio-item:hover img {
            -webkit-clip-path: inset(2rem);
            clip-path: inset(2rem);
        }
        .portfolio-item:hover .caption {
            background-color: rgba(29, 128, 159, 0.9);
            -webkit-clip-path: inset(2rem);
            clip-path: inset(2rem);
        }
    }
    /* --- Start of the map ---*/
    
    .map {
        height: 30rem;
    }
    
    @media (max-width: 992px) {
        .map {
            height: 75%;
        }
    }
    
    .map iframe {
        pointer-events: none;
    }
    
    .scroll-to-top {
        position: fixed;
        right: 15px;
        bottom: 15px;
        width: 40px;
        height: 40px;
        text-align: center;
        color: white;
        background: #f5f5f5;
        line-height: 45px;
    }
    
    .scroll-to-top:focus,
    .scroll-to-top:hover {
        color: white;
    }
    
    .scroll-to-top:hover {
        background: #055bb1;
    }
    
    .scroll-to-top i {
        font-weight: 800;
    }
    /* --- Start of the footer ---*/
    
    footer {
        background-color: darkgray;
    }
    
    .__cf_email__ {
        color: #FF0080;
    }
    
    .footer-distributed {
        background-color: black;
        color: white;
        display: flex;
        width: 100%;
        padding: 35px;
    }
    
    .footer-distributed div {
        padding-left: 50px;
    }
    
    .footer-icons {
        font-size: 28px;
    }
    
    .footer-icons a {
        float: left;
        padding-right: 20px;
    }
    
    .footer-company-about p {
        width: 50px;
    }